#application(data-class="form")
	.title Форма заявки на получение Starcard
	form
		.control-group
			input(type="text", name="first_name", placeholder="Имя")
		.control-group
			input(type="text", name="last_name", placeholder="Фамилия")
		.control-group
			input(type="text", name="middle_name", placeholder="Отчество")
		.control-group
			input(type="text", name="id", placeholder="ИИН")
		.control-group
			input(type="text", name="phone", placeholder="Номер мобильного телефона")
		.control-group
			a.btn_take_photo
				img(src="img/btn_take_photo.png")
			a.btn_browse_file
				img(src="img/btn_browse_file.png")
			input.styled.with_right_btn(type="file", name="id_card", placeholder="Загрзуить фото удостоверения")
		.buttons-group
			input(type="submit", value="Отпавить заявку")