.section.scene4
	.inner
		h2.title Оцените преимущества StarCard

		.circle_shadow.com0
			.content
				h2 0
			.description Без страховок и скрытых комиссий

		.circle_shadow.mln1
			.content 
				| до
				h2 1
				| млн.
			.description Лимит карты определяется банком в зависимости от платежеспособности держателя карты

		.creditcard_back
			img(src="img/creditcard_platinum.png")
		.buttons
			a.btn Заказать
	footer
		.footer_inner
			ul.bot_menu
				li
					a УСЛОВИЯ
				li
					a КАК ПОЛЬЗОВАТЬСЯ