.section.scene5
	.inner
		h2.title Создана для комфортной жизни.
		.creditcard_back
			img(src="img/creditcard.png")
		.right_content
			| Заполните анкету, прикрепите фото и через 15 минут заберите готовую карточку в удобном для Вас отделении Банка CenterCredit.
		.left_content
			| Вы можете заказать<br>Star Card онлайн.
		.bottom
			a.order_btn Заказать прямо сейчас
			nav
				li
					a УСЛОВИЯ
				li
					a КАК ПОЛЬЗОВАТЬСЯ
				li
					a КАРТА ОТДЕЛЕНИЙ
			a.go_up(href="#section1") Наверх