.section.scene2
	.inner
		h2.title Оцените преимущества StarCard
		.circle_shadow.min15
			.content
				h2 15
				| минут на<br>выдачу денег
			.description Баланс карты можно пополнить в течении 50 дней без начисления процента
		.circle_shadow.day50
			.content 
				h2 50
				| дней льготного периода
			.description Вы получаете деньги в тот же день, через 15 минут
		.creditcard_back
			img(src="img/creditcard.png")
		.sub_title Нет страховок и скрытых комиссий.
		a.btn Заказать