.section.scene3
	.slide.slide1
		.text
			h3 Star Card – это ваши запасные деньги!
			| Получите деньги на подарки любимым всего за 15 минут
	.slide.slide2
		.text
			h3 Храни деньги там, где это безопасно
			| Star Card – это надёжность хранения вашего капитала!
	.slide.slide3
	//- footer
		.footer_inner
			ul.bot_menu
				li
					a УСЛОВИЯ
				li
					a КАК ПОЛЬЗОВАТЬСЯ