.section.scene1
	ul.slider
		li(style="background-image:url(img/home_slider/1.jpg)")
		li(style="background-image:url(img/home_slider/2.jpg)")
		li(style="background-image:url(img/home_slider/3.jpg)")
	.inner
		header
			ul.top_menu
				li
					a(data-window="conditions") УСЛОВИЯ
				li
					a(data-window="how_to_use") КАК ПОЛЬЗОВАТЬСЯ
			a(href="./")
				img(src="img/logo.png", alt="Star")
		.hand
		a.intro_arrow
		.intro
			.slide_text
				h1 Star
				| Кредитная карта нового поколения. <br> Star Card – это ваши запасные деньги!
				.buttons
					a.btn(data-window="application") Заказать
					a.next ещё
			.slide_text
				h1 Super
				| Кредитная карта нового поколения. <br> Star Card – это ваши запасные деньги!
				.buttons
					a.btn(data-window="application") Заказать
					a.next ещё
			.slide_text
				h1 Unreal
				| Кредитная карта нового поколения. <br> Star Card – это ваши запасные деньги!
				.buttons
					a.btn(data-window="application") Заказать
					a.next ещё
	footer
		.footer_inner
			.more_info Подробнее
				a.go_down(href="#section2")
			a.centercredit
				img(src="img/centercredit.png")
			ul.bot_menu
				li
					a УСЛОВИЯ
				li
					a КАК ПОЛЬЗОВАТЬСЯ