// Font Configuration
font_thin = 'helveticaneuecyrthin'
font_medium = 'helveticaneuecyrmedium'
font_bold = 'helveticaneuecyrbold'
font_regular = 'helveticaneuecyrroman'
font_light = 'helveticaneuecyrlight'
font_italic = 'helveticaneuecyritalic'

// Font Size Configuration
// size_18 = 120%
// size_18 = 1.1em
size_14 = 14px
size_16 = 16px
size_18 = 18px
size_20 = 20px
size_24 = 24px
size_36 = 36px
size_48 = 48px
size_120 = 120px

// Color Configuration
color_gray = #323232
color_white = #fff
color_black = #000
color_blue = #2476cc

// File Configuration
image_path = '../img/'

// Reset Style Configuration
a
	cursor pointer
	color color_gray
	
ul
	list-style none
	
h1, h2, h3, h4, h5, h6, p, ul, li
	margin 0
	padding 0