.btn
	display inline-block
	color color_gray
	border 2px solid
	border-radius 10px
	padding 0 30px
	line-height 46px
	font-size size_24
	background-image linear-gradient(to top, rgba(255,255,255,.4), rgba(255,255,255,0))
	user-select none
	position relative
	&:hover
		color color_white
		background-color color_gray
		border-color color_gray
	&:active
		bottom -1px

.window .form
	padding 30px
	padding-top 0
	width 530px
	margin-left -265px
	overflow auto
	height 100%
	.control-group
		width 315px
		margin 0 auto
		margin-bottom 10px
		position relative
		input
			width 100%
			box-sizing border-box
			border-radius 5px
			border 1px solid #aaa
			outline none
			padding 0 12px 
			font size_14/33px font_regular
			&:hover
				border-color #777
			&:focus
				box-shadow inset 0 0 5px color_blue
		.with_right_btn
			width 280px
	.buttons-group
		text-align center
		input
			width 220px
			border-radius 10px
			background-color #fff
			border 1px solid #aaa
			background-image linear-gradient(to top, rgba(0,0,0,.05), rgba(255,255,255,.05))
			font size_14/50px font_medium
			text-transform uppercase
			outline none
			padding 0
			position relative
			&:hover
				background-color #aaa
				color #fff
			&:active
				bottom -1px
					
.pseudo-file
	background #fff
	border 1px solid #aaa
	line-height 33px
	height 33px 
	border-radius 5px
	display block
	padding 0 12px
	font size_14/33px font_regular
	color #999
	cursor pointer
	position relative
	span
		display block
		overflow hidden
	a
		border-top 0
	&:hover, &:hover a
		border-color #777
	&:active
		box-shadow inset 0 0 5px color_blue
input.styled
	position absolute
	opacity 0
	left 0
	top 0
	cursor pointer
	z-index 2

	
.btn_browse_file, .btn_take_photo
	float right
	background image-url('btn_back.gif') bottom repeat-x
	size(34px, 33px)
	position relative
	z-index 1
	border 1px solid #aaa
	text-align center
	line-height 33px
	img
		vertical-align middle
	
.btn_take_photo
	border-radius 0 5px 5px 0
	margin-left -1px
	position relative
	&:hover
		border-color #777
		z-index 3