body
	font 1em font_regular
	
a, input
	transition all 0.3s ease

h1
	font size_120 font_thin 
		
h2
	font size_48 font_light
		
h3
	font size_36 font_regular
		
.hide
	display none
		
footer
	position absolute
	bottom 0
	background color_gray
	width 100% 
	height 108px
	z-index 1
	.footer_inner
		background image-url('white_logo.png') left center no-repeat
		width 1240px
		margin 0 auto
		position relative
		height 108px
		
.more_info
	position absolute
	margin-top -88px
	left 50%
	margin-left -40px
	font size_14 font_bold
	width 80px
	text-align center
	color color_gray
	
.go_down
	size(32px)
	background image-url('go_down.png') no-repeat center center
	margin 0 auto
	display block
	margin-top 10px
	
.go_up
	size(32px)
	background image-url('go_up.png') center bottom no-repeat
	display block
	margin 15px auto
	text-decoration none
	font size_14 font_bold
	color #cdcdcd
	width 60px
	padding-bottom 20px
	opacity .5
	&:hover
		opacity 1  

.centercredit
	position absolute
	margin-top -88px
	right 0


.inner
	width 1240px 
	margin 0 auto
	
	
.top_menu, .bot_menu
	float right
	margin-top 25px
	font-size size_18
	font-family font_medium
	li
		display inline
		margin-left 24px
	a
		color color_gray
		&:hover
			color color_black

.bot_menu
	margin-top 45px
	a
		color color_white
		&:hover
			color color_white
			text-decoration underline
	
.circle_shadow
	background image-url('circle_shadow.png') left top no-repeat
	size(270px,268px)
	padding-top 30px
	font size_18 font_light
	h2
		font-size 70px
		line-height 60px
	.content
		size(165px)

.fp-section 
	.fp-prev, .fp-next
		background image-url('arrow_prev.png') no-repeat
		width 47px
		height 153px 
		border 0
		opacity .7
		transition all 0.5s ease
		&:hover
			opacity 1
	.fp-next
		background-image image-url('arrow_next.png')

.slide1
	back-stretch(image_path+'slides/slide1.jpg')
.slide2
	back-stretch(image_path+'slides/slide2.jpg')
.slide3
	back-stretch(image_path+'slides/slide3.jpg')


.site_loading
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background image-url('site_loading.gif') center center no-repeat color_gray
	z-index 200