&
	color color_white
	text-align center
	background #505458
	box-shadow inset 0 5px 20px rgba(0,0,0,.4)
	
h2
	margin-bottom 90px

.right_content
	float right
	width 235px
	font size_16 font_italic
	margin-top 70px
	
	
.left_content
	float left
	width 235px
	padding-top 90px
	background image-url('timer.png') center top no-repeat
	font-size size_18
	margin-top 60px
	
.order_btn
	margin 0 auto
	display block
	width 500px
	border-radius 35px
	background-color #2476cc
	background-image linear-gradient(to bottom, #45a0e6, #1a84d6)
	color color_white
	font size_20/70px font_bold
	text-align center
	box-shadow inset 0 -2px 3px rgba(0,0,0,.4), inset 0 2px 3px rgba(255,255,255,.4)
	&:hover
		box-shadow inset 0 -2px 3px rgba(0,0,0,.6)
	&:active
		box-shadow inset 0 3px 3px rgba(0,0,0,.5)
	
.creditcard_back
	background image-url('card_shadow.png') left top no-repeat
	size(490px, 350px)
	text-align left
	position absolute
	left 50%
	margin-left -199px
	
nav
	width 500px
	margin 0 auto
	margin-top 40px
	li
		display inline
		font size_16 font_bold
		margin 0 12px
	a
		color color_white
		
.bottom
	clear both
	padding-top 130px
	position relative
	z-index 1 
	