&
	back-stretch(image_path+'scenes/scene1.jpg')

.intro
	height 275px
	margin-top 3%
	left 50%
	position relative
	width 445px
	font-size size_24 
	overflow hidden
	h1
		border-bottom 1px solid 
		margin-bottom 15px
		text-overflow ellipsis
		overflow hidden
		width 445px
	.buttons
		margin-top 15px
		a
			margin-right 20px
			&.next hover
				text-decoration underline
	.slide_text
		float left
		
.intro_arrow
	float right
	background image-url('intro_arrow.png') no-repeat
	size(46px, 151px)
	margin-top 3%
	position relative
	top 50px
	opacity 0.7
	&:hover
		opacity 1 

			
.hand
	background image-url('hand.png') no-repeat
	size(560px, 606px)
	position absolute
	left 0
	margin-top 3%
	z-index 2

header
	position relative
	
.inner
	padding-bottom 250px
	
.slider
	width 100%
	height 100%
	position absolute
	top 0
	left 0
	li
		width 100%
		height 100%
		position absolute
		left 0
		top 0
		display none
		background-size cover
		&:first-child
			display block