&
	background #fff
	text-align center

.title
	margin-bottom 20px
	
.circle_shadow
	padding-top 0
	float right
	clear right
	margin-right 300px
	position relative
	.content h2
		line-height 165px
		display inline
	.description
		width 240px
		min-width 240px
		font size_18 font_italic
		text-align left
		display table-cell
		vertical-align middle
		height 165px
		position relative
		top -165px
		left 165px
		padding-left   45px

.mln1
	margin-top -40px

.buttons
	clear both
	top -85px
	position relative
		
.creditcard_back
	background image-url('card_shadow.png') left top no-repeat
	size(490px, 350px)
	text-align left
	margin-top 90px

footer
	top 0
	bottom auto
	
.inner
	padding-top 120px