&
	z-index 2
	background #fff
	text-align center

.title
	margin-bottom 100px
	
.sub_title
	clear both
	font size_24 font_light
	margin-top 3%
	margin-bottom 5%
	
.creditcard_back
	background image-url('card_back.png') left top no-repeat
	size(891px, 394px)
	position absolute
	text-align left
	left 50%
	margin-left -345px
	img
		margin-left 147px

.circle_shadow
	margin-top 42px
	.description
		width 225px
		font size_18 font_italic
		margin-left -30px
	
.min15
	float right
	position relative
	right -10px

.day50
	float left
	position relative
	right -100px