.window
	background color_gray
	background rgba(0,0,0,.8)
	position fixed
	top 0
	left 0
	width 100% 
	height 100%
	z-index 200
	color color_gray
	display none
	.close
		float right
		size(22px, 25px)
		margin-top 30px
		margin-right 30px
		background image-url('close.png')
	.title
		border-bottom 1px solid #555
		font size_18/50px font_medium
		text-align center
		margin-bottom 30px
	.box
		background #fff
		font-size size_16
		width 880px
		position absolute
		left 50%
		margin-left -500px
		border-radius 10px
		padding 60px
		padding-top 0
		top 50%
		.text
			overflow auto
			height 100%
	.overwin
		padding-bottom 120px