link(rel='stylesheet', href='css/vendor/normalize/normalize.css')
link(rel='stylesheet', href='css/vendor/fullpage/jquery.fullPage.css')
link(rel='stylesheet', href='font/helvetica.css')
link(rel='stylesheet', href='css/app.css')