script(src='js/vendor/jquery/jquery-1.11.1.min.js')
script(src='js/vendor/jquery-ui/jquery-ui.min.js')
script(src='js/vendor/slimscroll/jquery.slimscroll.min.js')
script(src='js/vendor/fullpage/jquery.fullPage.min.js')
script(src='js/app.js')