doctype html
html(lang="ru")
	head
		title StarCard
		include html/meta
		include html/css
	body
		.site_loading
		include blocks/window

		#fullpage
			include scenes/scene1
			include scenes/scene2
			include scenes/scene3
			include scenes/scene4
			include scenes/scene5

		div.hide
			include windows/how_to_use
			include windows/conditions
			include windows/application

		include html/js