a {
  cursor: pointer;
  color: #323232;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  font: 1em 'helveticaneuecyrroman';
}
a,
input {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
h1 {
  font: 120px 'helveticaneuecyrthin';
}
h2 {
  font: 48px 'helveticaneuecyrlight';
}
h3 {
  font: 36px 'helveticaneuecyrroman';
}
.hide {
  display: none;
}
footer {
  position: absolute;
  bottom: 0;
  background: #323232;
  width: 100%;
  height: 108px;
  z-index: 1;
}
footer .footer_inner {
  background: url("../img/white_logo.png") left center no-repeat;
  width: 1240px;
  margin: 0 auto;
  position: relative;
  height: 108px;
}
.more_info {
  position: absolute;
  margin-top: -88px;
  left: 50%;
  margin-left: -40px;
  font: 14px 'helveticaneuecyrbold';
  width: 80px;
  text-align: center;
  color: #323232;
}
.go_down {
  width: 32px;
  height: 32px;
  background: url("../img/go_down.png") no-repeat center center;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}
.go_up {
  width: 32px;
  height: 32px;
  background: url("../img/go_up.png") center bottom no-repeat;
  display: block;
  margin: 15px auto;
  text-decoration: none;
  font: 14px 'helveticaneuecyrbold';
  color: #cdcdcd;
  width: 60px;
  padding-bottom: 20px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.go_up:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.centercredit {
  position: absolute;
  margin-top: -88px;
  right: 0;
}
.inner {
  width: 1240px;
  margin: 0 auto;
}
.top_menu,
.bot_menu {
  float: right;
  margin-top: 25px;
  font-size: 18px;
  font-family: 'helveticaneuecyrmedium';
}
.top_menu li,
.bot_menu li {
  display: inline;
  margin-left: 24px;
}
.top_menu a,
.bot_menu a {
  color: #323232;
}
.top_menu a:hover,
.bot_menu a:hover {
  color: #000;
}
.bot_menu {
  margin-top: 45px;
}
.bot_menu a {
  color: #fff;
}
.bot_menu a:hover {
  color: #fff;
  text-decoration: underline;
}
.circle_shadow {
  background: url("../img/circle_shadow.png") left top no-repeat;
  width: 270px;
  height: 268px;
  padding-top: 30px;
  font: 18px 'helveticaneuecyrlight';
}
.circle_shadow h2 {
  font-size: 70px;
  line-height: 60px;
}
.circle_shadow .content {
  width: 165px;
  height: 165px;
}
.fp-section .fp-prev,
.fp-section .fp-next {
  background: url("../img/arrow_prev.png") no-repeat;
  width: 47px;
  height: 153px;
  border: 0;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fp-section .fp-prev:hover,
.fp-section .fp-next:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.fp-section .fp-next {
  background-image: url("../img/arrow_next.png");
}
.slide1 {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/slides/slide1.jpg");
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slides/slide1.jpg', sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slides/slide1.jpg',sizingMethod='scale');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.slide2 {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/slides/slide2.jpg");
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slides/slide2.jpg', sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slides/slide2.jpg',sizingMethod='scale');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.slide3 {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/slides/slide3.jpg");
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slides/slide3.jpg', sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/slides/slide3.jpg',sizingMethod='scale');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.site_loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/site_loading.gif") center center no-repeat #323232;
  z-index: 200;
}
.window {
  background: #323232;
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  color: #323232;
  display: none;
}
.window .close {
  float: right;
  width: 22px;
  height: 25px;
  margin-top: 30px;
  margin-right: 30px;
  background: url("../img/close.png");
}
.window .title {
  border-bottom: 1px solid #555;
  font: 18px/50px 'helveticaneuecyrmedium';
  text-align: center;
  margin-bottom: 30px;
}
.window .box {
  background: #fff;
  font-size: 16px;
  width: 880px;
  position: absolute;
  left: 50%;
  margin-left: -500px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 60px;
  padding-top: 0;
  top: 50%;
}
.window .box .text {
  overflow: auto;
  height: 100%;
}
.window .overwin {
  padding-bottom: 120px;
}
.btn {
  display: inline-block;
  color: #323232;
  border: 2px solid;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0 30px;
  line-height: 46px;
  font-size: 24px;
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0.4), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0.4), rgba(255,255,255,0));
  background-image: -o-linear-gradient(bottom, rgba(255,255,255,0.4), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0.4), rgba(255,255,255,0));
  background-image: linear-gradient(to top, rgba(255,255,255,0.4), rgba(255,255,255,0));
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
.btn:hover {
  color: #fff;
  background-color: #323232;
  border-color: #323232;
}
.btn:active {
  bottom: -1px;
}
.window .form {
  padding: 30px;
  padding-top: 0;
  width: 530px;
  margin-left: -265px;
  overflow: auto;
  height: 100%;
}
.window .form .control-group {
  width: 315px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}
.window .form .control-group input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
  outline: none;
  padding: 0 12px;
  font: 14px/33px 'helveticaneuecyrroman';
}
.window .form .control-group input:hover {
  border-color: #777;
}
.window .form .control-group input:focus {
  -webkit-box-shadow: inset 0 0 5px #2476cc;
  box-shadow: inset 0 0 5px #2476cc;
}
.window .form .control-group .with_right_btn {
  width: 280px;
}
.window .form .buttons-group {
  text-align: center;
}
.window .form .buttons-group input {
  width: 220px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #aaa;
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.05), rgba(255,255,255,0.05));
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.05), rgba(255,255,255,0.05));
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.05), rgba(255,255,255,0.05));
  background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.05), rgba(255,255,255,0.05));
  background-image: linear-gradient(to top, rgba(0,0,0,0.05), rgba(255,255,255,0.05));
  font: 14px/50px 'helveticaneuecyrmedium';
  text-transform: uppercase;
  outline: none;
  padding: 0;
  position: relative;
}
.window .form .buttons-group input:hover {
  background-color: #aaa;
  color: #fff;
}
.window .form .buttons-group input:active {
  bottom: -1px;
}
.pseudo-file {
  background: #fff;
  border: 1px solid #aaa;
  line-height: 33px;
  height: 33px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  padding: 0 12px;
  font: 14px/33px 'helveticaneuecyrroman';
  color: #999;
  cursor: pointer;
  position: relative;
}
.pseudo-file span {
  display: block;
  overflow: hidden;
}
.pseudo-file a {
  border-top: 0;
}
.pseudo-file:hover,
.pseudo-file:hover a {
  border-color: #777;
}
.pseudo-file:active {
  -webkit-box-shadow: inset 0 0 5px #2476cc;
  box-shadow: inset 0 0 5px #2476cc;
}
input.styled {
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 2;
}
.btn_browse_file,
.btn_take_photo {
  float: right;
  background: url("../img/btn_back.gif") bottom repeat-x;
  width: 34px;
  height: 33px;
  position: relative;
  z-index: 1;
  border: 1px solid #aaa;
  text-align: center;
  line-height: 33px;
}
.btn_browse_file img,
.btn_take_photo img {
  vertical-align: middle;
}
.btn_take_photo {
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  margin-left: -1px;
  position: relative;
}
.btn_take_photo:hover {
  border-color: #777;
  z-index: 3;
}
.scene1 {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/scenes/scene1.jpg");
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='../img/scenes/scene1.jpg', sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/scenes/scene1.jpg',sizingMethod='scale');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.scene1 .intro {
  height: 275px;
  margin-top: 3%;
  left: 50%;
  position: relative;
  width: 445px;
  font-size: 24px;
  overflow: hidden;
}
.scene1 .intro h1 {
  border-bottom: 1px solid;
  margin-bottom: 15px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 445px;
}
.scene1 .intro .buttons {
  margin-top: 15px;
}
.scene1 .intro .buttons a {
  margin-right: 20px;
}
.scene1 .intro .buttons a.next hover {
  text-decoration: underline;
}
.scene1 .intro .slide_text {
  float: left;
}
.scene1 .intro_arrow {
  float: right;
  background: url("../img/intro_arrow.png") no-repeat;
  width: 46px;
  height: 151px;
  margin-top: 3%;
  position: relative;
  top: 50px;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.scene1 .intro_arrow:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.scene1 .hand {
  background: url("../img/hand.png") no-repeat;
  width: 560px;
  height: 606px;
  position: absolute;
  left: 0;
  margin-top: 3%;
  z-index: 2;
}
.scene1 header {
  position: relative;
}
.scene1 .inner {
  padding-bottom: 250px;
}
.scene1 .slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.scene1 .slider li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.scene1 .slider li:first-child {
  display: block;
}
.scene2 {
  z-index: 2;
  background: #fff;
  text-align: center;
}
.scene2 .title {
  margin-bottom: 100px;
}
.scene2 .sub_title {
  clear: both;
  font: 24px 'helveticaneuecyrlight';
  margin-top: 3%;
  margin-bottom: 5%;
}
.scene2 .creditcard_back {
  background: url("../img/card_back.png") left top no-repeat;
  width: 891px;
  height: 394px;
  position: absolute;
  text-align: left;
  left: 50%;
  margin-left: -345px;
}
.scene2 .creditcard_back img {
  margin-left: 147px;
}
.scene2 .circle_shadow {
  margin-top: 42px;
}
.scene2 .circle_shadow .description {
  width: 225px;
  font: 18px 'helveticaneuecyritalic';
  margin-left: -30px;
}
.scene2 .min15 {
  float: right;
  position: relative;
  right: -10px;
}
.scene2 .day50 {
  float: left;
  position: relative;
  right: -100px;
}
.scene3 {
  z-index: 101;
}
.scene3 .slide {
  text-align: center;
  color: #fff;
  font: 24px 'helveticaneuecyrlight';
  position: relative;
}
.scene3 .text {
  position: absolute;
  bottom: 60px;
  width: 100%;
}
.scene4 {
  background: #fff;
  text-align: center;
}
.scene4 .title {
  margin-bottom: 20px;
}
.scene4 .circle_shadow {
  padding-top: 0;
  float: right;
  clear: right;
  margin-right: 300px;
  position: relative;
}
.scene4 .circle_shadow .content h2 {
  line-height: 165px;
  display: inline;
}
.scene4 .circle_shadow .description {
  width: 240px;
  min-width: 240px;
  font: 18px 'helveticaneuecyritalic';
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  height: 165px;
  position: relative;
  top: -165px;
  left: 165px;
  padding-left: 45px;
}
.scene4 .mln1 {
  margin-top: -40px;
}
.scene4 .buttons {
  clear: both;
  top: -85px;
  position: relative;
}
.scene4 .creditcard_back {
  background: url("../img/card_shadow.png") left top no-repeat;
  width: 490px;
  height: 350px;
  text-align: left;
  margin-top: 90px;
}
.scene4 footer {
  top: 0;
  bottom: auto;
}
.scene4 .inner {
  padding-top: 120px;
}
.scene5 {
  color: #fff;
  text-align: center;
  background: #505458;
  -webkit-box-shadow: inset 0 5px 20px rgba(0,0,0,0.4);
  box-shadow: inset 0 5px 20px rgba(0,0,0,0.4);
}
.scene5 h2 {
  margin-bottom: 90px;
}
.scene5 .right_content {
  float: right;
  width: 235px;
  font: 16px 'helveticaneuecyritalic';
  margin-top: 70px;
}
.scene5 .left_content {
  float: left;
  width: 235px;
  padding-top: 90px;
  background: url("../img/timer.png") center top no-repeat;
  font-size: 18px;
  margin-top: 60px;
}
.scene5 .order_btn {
  margin: 0 auto;
  display: block;
  width: 500px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  background-color: #2476cc;
  background-image: -webkit-linear-gradient(top, #45a0e6, #1a84d6);
  background-image: -moz-linear-gradient(top, #45a0e6, #1a84d6);
  background-image: -o-linear-gradient(top, #45a0e6, #1a84d6);
  background-image: -ms-linear-gradient(top, #45a0e6, #1a84d6);
  background-image: linear-gradient(to bottom, #45a0e6, #1a84d6);
  color: #fff;
  font: 20px/70px 'helveticaneuecyrbold';
  text-align: center;
  -webkit-box-shadow: inset 0 -2px 3px rgba(0,0,0,0.4), inset 0 2px 3px rgba(255,255,255,0.4);
  box-shadow: inset 0 -2px 3px rgba(0,0,0,0.4), inset 0 2px 3px rgba(255,255,255,0.4);
}
.scene5 .order_btn:hover {
  -webkit-box-shadow: inset 0 -2px 3px rgba(0,0,0,0.6);
  box-shadow: inset 0 -2px 3px rgba(0,0,0,0.6);
}
.scene5 .order_btn:active {
  -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 3px 3px rgba(0,0,0,0.5);
}
.scene5 .creditcard_back {
  background: url("../img/card_shadow.png") left top no-repeat;
  width: 490px;
  height: 350px;
  text-align: left;
  position: absolute;
  left: 50%;
  margin-left: -199px;
}
.scene5 nav {
  width: 500px;
  margin: 0 auto;
  margin-top: 40px;
}
.scene5 nav li {
  display: inline;
  font: 16px 'helveticaneuecyrbold';
  margin: 0 12px;
}
.scene5 nav a {
  color: #fff;
}
.scene5 .bottom {
  clear: both;
  padding-top: 130px;
  position: relative;
  z-index: 1;
}
